:root {
    --card-color: #e9e9e9;
    --background-color: #dddddd;

}

body {
    font-family: Fira Sans, Helvetica, sans-serif;
    font-weight: 300;
    background: var(--background-color);
    margin: 0;
}

.parent {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    width: fit-content;
    margin: auto;
}

.left-side {
    grid-column: 1 / 2;
}

.card {
    background: var(--card-color);
    border-radius: 1em;
    margin: 0.5em;
    padding: 1.5em;
}

h2 {
    margin-top: 0;
}

.inputgroup,
.playerEntry>div {
    display: flex;
}

main {
    grid-column: 2 / 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.right-side {
    grid-column: 3 / 4;
}

footer {
    grid-column: 1 / 4;
}

section {
    margin: 0 auto;
    background: white;
}

header {
    padding: 1rem;
    grid-column: 1 / 4;
    color: white;
    background: #4e4e4e;
    text-align: center;
}



canvas {
    width: 32em;
    height: 32em;
}

table {
    display: block;
    width: 20em;
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 1em;
    text-align: left;
    table-layout: fixed;
}


table tr:nth-child(2n+1) {
    background: rgba(78, 78, 78, 0.1);
}

table th,
table td {
    padding: 0.1em 0.25em;
}

table#total-cost th,
table#unit-info th,
table#simulation-info th {
    font-weight: inherit;
    width: 100%;
}

table#total-cost td,
table#unit-info td,
table#simulation-info td {
    text-align: right;
}

table#unit-selector th,
table#order-table th {
    width: 100%;
    color: white;
    background: #4e4e4e;
}

table#unit-selector td,
table#order-table td {
    width: 100%;
}

table#unit-selector tr:hover,
table#order-table tr:hover {
    color: white;
    background: SteelBlue;
    font-weight: 500;
}

table#unit-selector .selected,
table#order-table .selected {
    color: white;
    font-weight: 500;
    background: SteelBlue;
}

canvas {
    border: 1px solid black;
}

textarea {
    display: block;
}

input {
    margin: 0.1em;
    padding: 0.2em;
    border: 1px solid black;
    size: 20;
}

button {
    margin: 0.1em;
    padding: 0.2em;
    background: inherit;
    border: 1px solid black;
    min-width: 4em;
}

button:hover:enabled {
    color: white;
    background: SteelBlue;
    font-weight: 500;
}

canvas#plot {
    height: 8em;
    width: 32em;
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
b {
    font-weight: 500;
}